.Hero_loader {
    border: 8px solid var(--brown-color2);
    border-top: 8px solid var(--blue-color1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Hero {
    position: fixed;
    top: 40px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Hero_h1 {
    color: var(--white-color1);
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 25px;
}

.Hero_span1 {
    color: var(--blue-color1);
}

.Hero_span2 {
    color: var(--orange-color1);
}

.Hero_h2 {
    color: var(--white-color2);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 25px;
}

.Hero_h3 {
    color: var(--white-color3);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Hero_btn {
    color: var(--white-color3);
    background-color: var(--blue-color1);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 22px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, border-radius  0.4s ease;
}

.Hero_btn:hover {
    color: var(--black-color1);
    background-color: var(--white-color3);
    border-radius: 20px;
}

.Hero_btn_link {
    text-decoration: none;
}

/* Responsive Design */
@media(max-width: 1024px) {
    .Hero {
        top: 30px;
    }

    .Hero_h1 {
        font-size: 58px;
    }

    .Hero_h2 {
        font-size: 38px;
    }

    .Hero_h3 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 768px) {
    .Hero {
        top: 30px;
    }

    .Hero_h1 {
        font-size: 56px;
    }

    .Hero_h2 {
        font-size: 37px;
    }
}

@media(max-width: 480px) {
    .Hero {
        top: 15px;
    }

    .Hero_h1 {
        font-size: 52px;
        line-height: 50px;
        margin-bottom: 25px;
    }

    .Hero_h2 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .Hero_h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }
}