.InputField {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.InputField_label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--brown-color1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.InputField_input {
    padding: 8px 6px;
    border: 1px solid var(--white-color4);
    background-color: var(--white-color1);
    color: var(--brown-color2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.InputField_input:focus {
    outline: none;
    border-color: var(--blue-color1);
}

/* Responsive Design */
@media(max-width: 480px) {
    .InputField_input {
        margin-bottom: 5px;
    }
}