.LoginPage {
    max-width: 400px;
    margin: 65px auto 10px auto;
    padding: 8px 20px;
    background-color: var(--white-color0);
    border: 1px solid var(--white-color3);
}

.LoginPage_h1 {
    text-align: center;
    color: var(--black-color1);
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LoginPage_h1 span {
    color: var(--blue-color1);
}

.LoginPage_btn {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background-color: var(--blue-color1);
    color: var(--white-color0);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.LoginPage_btn:hover {
    background-color: var(--orange-color1);
}

.LoginPage_p {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--brown-color1);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.LoginPage_p_link {
    text-decoration: none;
    color: var(--black-color1);
    font-weight: bold;
    transition: color 0.2s ease;
}

.LoginPage_p_link:hover {
    color: var(--blue-color1);
}

/* Responsive Design */
@media(max-width: 480px) {
    .LoginPage {
        max-width: 350px;
        margin: 100px auto 10px auto;
    }

    .LoginPage_p {
        margin-top: 15px;
    }
}