.RazorpayCheckoutButton {
    margin: 15px 10px 20px 10px;
    width: 92%;
    padding: 10px 16px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--red-color1);
    color: var(--white-color0);
    cursor: pointer;
    transition: border-radius 0.2s ease-in;
}

.RazorpayCheckoutButton:hover {
    border-radius: 20px;
}