@tailwind utilities;

:root {
    --black-color1: #151515;
    --white-color0: #ffffff;
    --white-color1: #f5f5f5;
    --white-color2: #eeeeee;
    --white-color3: #dadada;
    --white-color4: #c0c0c0;
    --blue-color1: #035096;
    --blue-color2: #95ccff;
    --blue-color3: #3fa2ff;
    --blue-color4: #1f66a8;
    --orange-color1: #ff6806;
    --orange-color2: #ffae78;
    --orange-color3: #fff1e8;
    --orange-color4: #ff802b;
    --green-color1: #22C55E;
    --green-color3: #3fd375;
    --green-color4: #93ffbb;
    --green-color2: #bbffd4;
    --brown-color1: #202020;
    --brown-color2: #454545;
    --brown-color3: #5a5a5a;
    --red-color1: #ff5055;
    --red-color2: #ff6065;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}