.CoursePage_loading {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CoursePage_error {
    margin-top: 50px;
    text-align: center;
    color: var(--red-color1);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CoursePage_courseNotFound {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CoursePage_offer */
.CoursePage_offer {
    margin-top: 70px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--white-color2);
    border: 1px solid var(--white-color3);
    border-radius: 1px;
    padding: 2px 6px;
    font-weight: 600;
    color: var(--red-color1);
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.1);
}

/* CoursePage_h2 */
.CoursePage_h2 {
    margin-top: 10px;
    color: var(--black-color1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.CoursePage_h2 span {
    color: var(--orange-color1);
    display: inline-block;
    animation: pulse 0.3s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.12);
    }
}

/* CoursePage */
.CoursePage {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .CoursePage {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .CoursePage {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .CoursePage {
        grid-template-columns: repeat(1, 1fr);
    }

    .CoursePage_offer {
        margin-top: 60px;
        width: 310px;
        background: var(--white-color2);
        border: 1px solid var(--white-color3);
    }
}