.CourseDetail {
    margin-top: 75px;
    margin-bottom: 50px;
}

.CourseDetail_h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CourseDetail_h3 {
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CourseDetail_h4 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--brown-color1);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CourseDetail_h4 span {
    color: var(--red-color1);
}

.CourseDetail_div {
    line-height: 16px;
    margin-bottom: 15px;
    background-color: var(--orange-color3);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.CourseDetail_div h3 {
    color: var(--brown-color1);
    margin-bottom: 6px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CourseDetail_div p {
    color: var(--brown-color3);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CourseDetail_div p b {
    color: var(--brown-color2);
}

/* Responsive Design */
@media(max-width:480px) {
    .CourseDetail_h4 {
        font-size: 23px;
    }
}